---
keywords: "婚礼 孟胜彬 王翠翠"
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if site.title %}<title>{{ site.title }}</title>{% endif %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="slimbox/slimbox2.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <script type="text/javascript" src="slimbox/jquery.min.js"></script>
  <script type="text/javascript" src="slimbox/slimbox2.js"></script>
  <script type="text/javascript" src="site.js"></script>
  {% if site.google_analytics_key %} {% include analytics.html %} {% endif %}
</head>
<body>
  <div id="main">

    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>


    {% for post in site.posts reversed %}
      {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if post.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{post.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ post.title }}</h5>
        </div>
        {% elsif post.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ post.fa-icon }} fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">{{ post.title }}</h5>
        </div>
        {% endif %}
        <div class="container {{ post.style }}">
          {{ post.content }}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% include footer.html %}
      </div>
    </div>
    
  </div>
</body>
</html>
